<div class="banner">
  <div class="container">
    <h1 class= "home_title">Avec Air Mysticals louez des animaux fantastiques</h1>
    <p class= "home_p">Et mettez des paillettes dans votre vie !</p>
    <a id= btn-homepage class="btn bg-primary text-white shadow rounded" href="#">Here we go !</a>
    <%= link_to "Here we go!", animals_path, id: "btn-homepage", class: "btn bg-primary text-white shadow rounded" %>
  </div>
</div>
<div class="container container_body">
  <div class="container_demo">
    <div class="demo_left">
      <i class="desktop_1"></i>
      <%# <%= image_tag "desktop_demo.svg" %>
      <i class="fas fa-desktop fa-10x"></i>
      <p class= "demo_text"><strong>Affichez</strong> un animal fantastique
      consultez son prix et soumettez votre requête auprès du <strong>loueur partenaire</strong>.</p>
      <i class="fas fa-desktop fa-10x"></i>
    </div>
    <div class="demo_right">
      <p class= "demo_text"><strong>Louez</strong> un animal fantastique
      est devenu plus simple que jamais grâce à notre technologie <strong>révolutionnaire</strong>.
      Vous pouvez consulter tout notre bestiaire d'un simple clic.</p>
      <i class="fas fa-desktop fa-10x"></i>
      <p class= "demo_text">
      Découvrez votre <strong>dashboard personnel</strong> pour gérer vos réservations et vos propres locations de <strong>Mysticals</strong>.</p>
    </div>
  </div>
</div>
<div class="container pb-3">
  <h1 class= "text-warning">Notre sélection de Mysticals prêts à être loués</h1>
  <div class="row">
    <div class="col">
      <div class="cards m-2">
        <% @animals.each do |animal| %>
          <%= link_to animal_path(animal), class:"card-animal-linked" do %>
            <div class="card-animal">
              <%= cl_image_tag animal.photo.key, width: 400, crop: :fill%>
              <div class="card-animal-infos">
                <h3 class="mb-0"><%= animal.name %></h3>
                <img src="<%=cl_image_path animal.owner.avatar.key, width: 50, crop: :fill%>" class="card-animal-user avatar-bordered" />
                <p class="card-animal-pricing"><%= "#{animal.price_per_day} €/j"%></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
