<div class="container">
  <div class= "row">
    <div class="col-6">
      <%= cl_image_tag @animal.photo.key, height: 500, width: 600, crop: :fill %>
    </div>

    <div class=" col-6 align-self-center">
      <div class="card-animal-show justify-content-center float-right">
        <ul class="list-group">
            <p> Petit nom : <%= @animal.name %></p>
            <p> <%= @animal.description %></p>
            <p> <%= @animal.location %></p>
            <p> <%= @animal.age %> ans</p>
            <p> <%= @animal.price_per_day %> € par jour</p>
            <p> Louée par <%= @animal.owner.username %> </p>

        </ul>
      </div>
            <%= link_to "retour sur la liste", animals_path , class:" btn btn-primary float-right m-1" %>
    </div>
  </div>
</div>
